input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    color: blue;
}

input,
label {
    margin: 0.4rem 0;
}


#pln {
    background-image: url(https://www.freepik.com/free-photo/tulips-bouquet-pink-background-with-copyspace_3948708.htm#query=flower&position=0&from_view=keyword&track=sph);
    background-repeat: no-repeat;
    background-position: 2px 3px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.child {
    text-align: left;
}

body{
    background-color: azure;
}


