<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Currency exchange</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="container">
    <div class="child">
        <div class="currency">
            <div class="form__group field">
            <label>You send</label>

           <p> <div class="box"> <select id="firstCur" name="firstCur" onchange="firstSelected()">
                <option disabled selected value="none">First currency</option>
                <option value="usd" >$&emsp;USD&emsp;</option>
                <option value="eur">€&emsp;EUR&emsp;</option>
                <option value="jpy">¥&emsp;YEN&emsp;</option>
                <option value="gbp">£&emsp;GBP&emsp;</option>
                <option value="chf">Fr.&emsp;CHF&emsp;</option>
                <option value="pln">zł&emsp;PLN&emsp;</option>
            </select> </div>
                <input id="firstCurInp" type="text" class="icon" onkeydown="return regExCheckKeydown(event, id)" onchange="regExCheckKeydown(event, id)" oninput="regExCheckKeydown(event, id)" onkeypress="regExCheckKeydown(event, id)"> </p>
                </div>
        </div>

        <div class="currency">
            <div class="form__group field">
            <label >They receive</label>
            <p> <div class="box"> <select id="secondCur" name="secondCur" onchange="secondSelected()">
                <option disabled selected value="none">Second currency</option>
                <option value="usd" >$&emsp;USD&emsp;</option>
                <option value="eur">€&emsp;EUR&emsp;</option>
                <option value="jpy">¥&emsp;YEN&emsp;</option>
                <option value="gbp">£&emsp;GBP&emsp;</option>
                <option value="chf">Fr.&emsp;CHF&emsp;</option>
                <option value="pln">zł&emsp;PLN&emsp;</option>
            </select> </div>

                <input id="secondCurInp" type="text"  class="icon" onkeydown="return regExCheckKeydown(event, id)" onchange="regExCheckKeydown(event, id)" oninput="regExCheckKeydown(event, id)" onkeypress="regExCheckKeydown(event, id)"></p>

            </div>
        </div>

        <div class="finalText">
            <p id="rate"></p>
            <p id="fee"  style="visibility:hidden">No transfer fee</p>
        </div>

    </div>
</div>

<script src="../static/scripts/code.js"> </script>
<!-- <script src="../static/scripts/frontend.js"> </script> -->
</body>
</html>