<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>GBP to PLN exchange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<div class="container">
    <div class="child">
        <div class="currency">
            <label>You send</label>
            <p><select id="firstCur" name="firstCur" onchange="firstSelected()">
                <option disabled selected value="none">First currency</option>
                <option value="usd" >USD</option>
                <option value="eur">EUR</option>
                <option value="jpy">JPY</option>
                <option value="gbp">GBP</option>
                <option value="chf">CHF</option>
                <option value="pln">PLN</option>
            </select>
                :
                <input id="firstCurInp" type="number" class="icon" min="0" step="any" onkeydown="return event.keyCode !== 69 && event.keyCode !== 109 && event.keyCode !== 107
                    && event.keyCode !== 189 && event.keyCode !== 187"></p>
        </div>

        <div class="currency">
            <label >They receive</label>
            <p> <select id="secondCur" name="secondCur" onchange="secondSelected()">
                <option disabled selected value="none">Second currency</option>
                <option value="usd">USD</option>
                <option value="eur">EUR</option>
                <option value="jpy">JPY</option>
                <option value="gbp">GBP</option>
                <option value="chf">CHF</option>
                <option value="pln">PLN</option>
            </select>
                :
                <input id="secondCurInp" type="number" min="0" step="any" onkeydown="return event.keyCode !== 69 && event.keyCode !== 109 && event.keyCode !== 107
                    && event.keyCode !== 189 && event.keyCode !== 187"></p>

        </div>
        <p id="rate"></p>
        <p id="fee"  style="visibility:hidden">No transfer fee</p>
    </div>
</div>

<script src="static/scripts/code.js"> </script>
<!--
<script th:inline="javascript">
    var request = new XMLHttpRequest();
    var ex1;
    var ex2;

    let firstCurSelection = document.getElementById('firstCur');
    let secondCurSelection = document.getElementById('secondCur');

    let firstCurInput = document.getElementById('firstCurInp');
    let secondCurInput  = document.getElementById('secondCurInp');

    firstCurInput.addEventListener('input', calculateSecondCur);
    secondCurInput.addEventListener('input', calculateFirstCur);

    firstCurInput.disabled = true;
    secondCurInput.disabled = true;

    function firstSelected(){
        getFirstExRate();
        checkIfBothSelected();
        if(secondCurInput.value.length>0){
            calculateSecondCur();
        }

    }

    function  secondSelected(){
        getSecondExRate();
        checkIfBothSelected();
        if(firstCurInput.value.length>0){
            calculateSecondCur();
        }

    }


    function checkIfBothSelected(){
        if (firstCurSelection.value!="none" && secondCurSelection.value!="none"){
            document.getElementById("rate").innerHTML = "1 "+firstCurSelection.value+" = " + (ex1/ex2).toFixed(4) + " "+secondCurSelection.value;
            document.getElementById("fee").style.visibility = "visible";
            firstCurInput.disabled = false;
            secondCurInput.disabled = false;
        }
    }
    function calculateFirstCur() {
        firstCurInput.value = (secondCurInput.value*(ex2/ex1)).toFixed(4);
    }

    function calculateSecondCur() {
        secondCurInput.value = (firstCurInput.value*(ex1/ex2)).toFixed(4);
    }

    //My try
    function getFirstExRate() {
        request.open("POST","/submitFirstCur",false);
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.onreadystatechange = function() {
            if(request.readyState === XMLHttpRequest.DONE && request.status===200){
                ex1 = request.response;
            }
        };
        request.send(JSON.stringify({chosenFirstCur : firstCurSelection.value}));
    }

    function getSecondExRate() {
        request.open("POST","/submitSecondCur",false);
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.onreadystatechange = function() {
            if(request.readyState === XMLHttpRequest.DONE && request.status===200){
                ex2 = request.response;
            }
        };
        request.send(JSON.stringify({chosenSecondCur : secondCurSelection.value}));
    }

</script> -->

</body>
</html>